<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>posco art museum</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/left_aside.css">
    <link rel="stylesheet" href="/static/css/right_aside.css">
    <link rel="stylesheet" href="/static/css/bottom.css">
    <link rel="stylesheet" href="/static/css/collection.css">
    <link rel="stylesheet" href="/static/css/collection_dtl.css">
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js"></script>
 
</head>
<body>
    <div class="wrap">
        <header>
            <h1 class="logo">
                <a href=""><img src="/static/img/logo/logo_posco_art.gif"></a>
                <img src="/static/img/logo/logo_posco_art_txt.gif">
            </h1>
            <div class="util-nav">
                <ul class="nav-list">
                    <li><a href=""><img src="/static/img/kor/layout/util_map.gif"></a></li>
                    <li><a href=""><img src="/static/img/kor/layout/util_en.gif"></a></li>
                    <li><a href=""><img src="/static/img/kor/layout/util_sitemap.gif"></a></li>
                </ul>
            </div>
        </header>
        <main class="container">
            <aside class="aside-left">

            </aside>

            <div class="main-collection">
                <div class="collection-dtl-title">
                    <h1 class ="main-collection-titel">대표소장품</h1>
                    <img src="/static/img/new/txt_collection.gif" class="title-img">
                </div>
                <hr class="hr-a">
                <div class="collection-container">
                    <div>
                        <a class="collection-img-change">
                            <img class="img-size" src="/static/img/new/일러스트.png">
                        </a>

                        <ul class="pic-list">
                            <li>
                                <a class="change-painting" href="javascript:void(0)" onclick="false">
                                    <img class="change-pic" src="/static/img/new/일러스트.png">
                                </a>
                            </li>
                            <li>
                                <a class="change-painting" href="javascript:void(0)" onclick="false">
                                    <img class="change-pic" src="/static/img/new/download (1).jpeg">
                                </a>
                            </li>
                            
                        </ul>

                    </div>
                    <div>
                        <div class="h4-div">
                            <h4 class="h4-size">Untitled 2014</h4>

                        </div>
                        <dl>
                            <dt class="painter">작가</dt>
                            <dt>정현</dt>
                        </dl>
                        <div class="expansive">
                            <div>
                                <a class="won"><span >가격:</span>
                                <span>50,000,000,000</span></a>
                            </div>
                            <button type="button" class="buy-button"><i class="txt-buy">구매</i></button>
                        </div>
                        <div class="pic-info-2">
                            <ul class="clifix">
                                <li class="sdj-li">
                                    <span class="fl">소장위치</span><span class="fr">포스코센터 야외</span>
                                </li>
                                <li class="sdj-li">
                                    <span class="fl">작품크기</span><span class="fr">126x126x110cm</span>
                                </li>
                                <li class="sdj-li">
                                    <span class="fl">제작년도</span><span class="fr">2014</span>
                                </li>
                                <li class="sdj-li">
                                    <span class="fl">재료</span><span class="fr">POSCO Stell Bail</span>
                                </li>
                                
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="info-article">
                    <p class="dtl-txt">이것은 백업 하지않은 데이터가 날라간 현대인들의 절망과 비명을 그림으로써 현대사회의 쓰래기들에 대한 분노를 표현하고있다</p>
                    <h5 class="dtl-list"><img src="/static/img/new/txt_pic_sum.gif"></h5>
                </div>
            </div>
            <aside class="aside-right">
            </aside>
        </main>
        <footer>
        </footer>
    </div>
    
    <script type="text/javascript" src="/templates/S91_010/S91_010010/front/new/js/untitled.js"></script>
</body>
</html>