<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>포스코 미술관</title>
</head>
<body>
    <div id="container">
        <main>
            <aside class="main-container">
                <div class="aside-title">
                    <h1 class="title-text-h1">관리자 시스템</h1>
                </div>
                <nav class="main-menu">
                    <h2 class="title-text-h2">전시 작품 관리</h2>
                    <ul>
                        <a href="/templates/admin/painting/painting_search.html"><li>전시 작품 조회</li></a>
                        <a href="/templates/admin/painting/painting_add.html"><li>전시 작품 등록</li></a>
                        <a href="/templates/admin/painting/painting_edit.html"><li>작품 정보 수정</li></a>
                    </ul>
                </nav>
            </aside>
            <div class="painting-container">
                <h1 class="painting-title">전시 작품 등록</h1>
                <div class="painting-main">
                    <div class="painting-main">
                        <div class="painting-left">
                            <form class="img-form">
                                <input type="file" name="file" class="img-file">
                                <button type="button" class="img-add-button" disabled>추가</button>
                                <div class="img-container">
                                    <img src="/static/images/no_img.png" alt="painting-img">
                                </div>
                                <div class="button-group">
                                    <button type="button" class="img-add-button" disabled>이미지 등록</button>
                                    <button type="button" class="img-cancel-button" disabled>취소</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="/static/js/admin/painting_add.js"></script>
</body>
</html>