<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>포스코 미술관</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
    <div id="container">
        <main>
            <aside class="main-container">
                <div class="aside-title">
                    <h1 class="title-text-h1">관리자 시스템</h1>
                </div>
                <nav class="main-menu">
                    <h2 class="title-text-h2">전시 작품 관리</h2>
                    <ul class="sub-menu">
                        <a href="/templates/admin/painting/painting_search.html"><li>전시 작품 조회</li></a>
                        <a href="/templates/admin/painting/painting_add.html"><li>전시 작품 등록</li></a>
                        <a href="/templates/admin/painting/painting_edit.html"><li>작품 정보 수정</li></a>
                        <a href="/templates/admin/painting/painting_remove.html"><li>작품 정보 수정</li></a>
                    </ul>
                    <h2 class="title-text-h2">컬렉션 관리</h2>
                    <ul class="sub-menu">
                        <a href="/templates/admin/painting/painting_search.html"><li>컬렉션 조회</li></a>
                        <a href="/templates/admin/painting/painting_add.html"><li>컬렉션 등록</li></a>
                        <a href="/templates/admin/painting/painting_edit.html"><li>컬렉션 수정</li></a>
                        <a href="/templates/admin/painting/painting_remove.html"><li>컬렉션 삭제</li></a>
                    </ul>
                    <h2 class="title-text-h2">공지사항 관리</h2>
                    <ul class="sub-menu">
                        <a href="/templates/admin/painting/painting_search.html"><li>공지사항 조회</li></a>
                        <a href="/templates/admin/painting/painting_add.html"><li>공지사항 등록</li></a>
                        <a href="/templates/admin/painting/painting_edit.html"><li>공지사항 수정</li></a>
                        <a href="/templates/admin/painting/painting_edit.html"><li>공지사항 수정</li></a>   
                    </ul>
                </nav>
            </aside>

            <div class="painting-container">
                <h1 class="painting-title">전시 작품 조회</h1>
                <div class="painting-main">
                    <div class="painting-item">
                        <div class="painting-item-left">
                            <button type="button" class="delete-button">삭제</button>
                        </div>
                        <div class="painting-item-right">
                            <select class="category-select">
                                <option value="">전체조회</option>
                                <option value="작품명">작품명</option>
                                <option value="작가명">작가명</option>
                                <option value="제작년도">제작년도</option>
                            </select>
                            <input type="search" class="search-input">
                            <button type="button" class="saerch-button">검색</button>
                        </div>
                    </div>

                    <div class="table-container">
                        <table class="painting-table">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" class="delete-checkall"></th>
                                    <th>아이디</th>
                                    <th>작품코드</th>
                                    <th>전시타이틀</th>
                                    <th>전시기간</th>
                                    <th>관람시간</th>
                                    <th>작품명</th>
                                    <th>작가명</th>
                                    <th>작품크기</th>
                                    <th>제작년도</th>
                                    <th>재료</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="page-controller">
                        <a href="" class="disabled">이전</a>
                        <ul class="page-number">
                            <a href=""><li>1</li></a>
                            <a href=""><li>2</li></a>
                            <a href=""><li>3</li></a>
                            <a href=""><li>4</li></a>
                            <a href=""><li>5</li></a>
                        </ul>
                        <a href="">다음</a>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="/static/js/admin/painting_search.js"></script>
</body>
</html>