.main-article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 778px;
}

.txt-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.txt-section > img {
    margin-bottom: 10px;
}