<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/left_aside.css">
    <link rel="stylesheet" href="/static/css/right_aside.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/src/main/resources/static/css/login.css">
    <link rel="stylesheet" href="/src/main/resources/static/css/login.css">



    <title>Document0</title>
</head>
<body>
    <div class="wrap">
        <header>
            <h1 class="logo">
                <a href=""><img src="/static/img/logo/logo_posco_art.gif"></a>
                <img src="/static/img/logo/logo_posco_art_txt.gif">
            </h1>
            <div class="util-nav">
                <ul class="nav-list">
                    <li><a href=""><img src="/static/img/kor/layout/util_map.gif"></a></li>
                    <li><a href=""><img src="/static/img/kor/layout/util_en.gif"></a></li>
                    <li><a href=""><img src="/static/img/kor/layout/util_sitemap.gif"></a></li>
                </ul>
            </div>
        </header>
        <main class="container">
            <aside class="aside-left">
                <ul>    
                    <li><a href="#"><img src="/src/main/resources/static/img/kor/layout/gnb01.gif" alt="PoscoArtMuseum"></a></li>
                    <li><a href="#"><img src="/src/main/resources/static/img/kor/layout/gnb02.gif" alt="Exhibition"></a></li>
                    <li><a href="#"><img src="/src/main/resources/static/img/kor/layout/gnb03.gif" alt="Collection"></a></li>
                    <li><a href="#"><img src="/src/main/resources/static/img/kor/layout/gnb04.gif" alt="program"></a></li>
                    <li><a href="#"><img src="/src/main/resources/static/img/kor/layout/gnb05.gif" alt="Support"></a></li>
                </ul>  
            </aside>

            <section class="login-form">
                <h1>Login</h1>
                <form action="">
                    <div class="int-area">
                        <input type="text" name="id" id="id" autocomplete="off" required>
                        <label for="id">아이디</label>
                    </div>
                    <div class="int-area">
                        <input type="password" name="pw" id="pw" autocomplete="off" required>
                        <label for="pw">비밀번호</label>
                    </div>
                    <div class="btn-area">
                        <button id="btn" type="submit">로그인</button>
                        
                    </div>
                </form>
                <div class="caption">
                    <a href="">비밀번호 찾기</a>
                    <a href="">회원가입</a>
                </div>
            </section>
            
            <aside class="aside-right">
                <ul>    
                    <li><a href="#"><img src="/src/main/resources/static/img/kor/layout/quick01.gif" alt="Notice"></a></li>
                    <li><a href="#"><img src="/src/main/resources/static/img/kor/layout/quick02.gif" alt="NewsLetter"></a></li>
                    <li><a href="#"><img src="/src/main/resources/static/img/kor/layout/quick03.gif" alt="Facebook"></a></li>
                    <li><a href="#"><img src="/src/main/resources/static/img/kor/layout/quick04.gif" alt="Location"></a></li>
                </ul>
            </aside>
        </main>

        <footer>
            <p class="copyright">   
                <a href="#">    
                    <img src="/src/main/resources/static/img/kor/layout/copyright.gif" alt="Copyright">
                </a>    
            </p>

            <div class="foot-nav">  
                <a href="#"> 
                    <img src="/src/main/resources/static/img/kor/layout/btn_priv.gif" alt="개인정보처리방침">
                </a>
            </div>   
        </footer>
    </div>
</body>
</html>