<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/left_aside.css">
    <link rel="stylesheet" href="/static/css/right_aside.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/src/main/resources/static/css/login.css">
    <link rel="stylesheet" href="/src/main/resources/static/css/register.css">




    <title>Document0</title>
</head>
<body>
    <div class="wrap">
        <header>
            <h1 class="logo">
                <a href=""><img src="/static/img/logo/logo_posco_art.gif"></a>
                <img src="/static/img/logo/logo_posco_art_txt.gif">
            </h1>
            <div class="util-nav">
                <ul class="nav-list">
                    <li><a href=""><img src="/static/img/kor/layout/util_map.gif"></a></li>
                    <li><a href=""><img src="/static/img/kor/layout/util_en.gif"></a></li>
                    <li><a href=""><img src="/static/img/kor/layout/util_sitemap.gif"></a></li>
                </ul>
            </div>
        </header>
        <main class="container">
            <aside class="aside-left">
                <ul>    
                    <li><a href="#"><img src="/src/main/resources/static/img/kor/layout/gnb01.gif" alt="PoscoArtMuseum"></a></li>
                    <li><a href="#"><img src="/src/main/resources/static/img/kor/layout/gnb02.gif" alt="Exhibition"></a></li>
                    <li><a href="#"><img src="/src/main/resources/static/img/kor/layout/gnb03.gif" alt="Collection"></a></li>
                    <li><a href="#"><img src="/src/main/resources/static/img/kor/layout/gnb04.gif" alt="program"></a></li>
                    <li><a href="#"><img src="/src/main/resources/static/img/kor/layout/gnb05.gif" alt="Support"></a></li>
                </ul>  
            </aside>  
            
            <form action="#" method="POST" class="register" onsubmit="DoJoinForm__submit(this); return false;">
                                                                                               
                <h2>회원가입</h2>
                <div class="textForm">
                  <input name="loginId" type="text" class="id" placeholder="아이디">
                  </input>
                </div>
                <div class="textForm">
                  <input name="loginPw" type="password" class="pw" placeholder="비밀번호">
                </div>
                 <div class="textForm">
                  <input name="loginPwConfirm" type="password" class="pw" placeholder="비밀번호 확인">
                </div>
                <div class="textForm">
                  <input name="name" type="password" class="name" placeholder="이름">
                </div>
                 <div class="textForm">
                  <input name="email" type="text" class="email" placeholder="이메일">
                </div>
                <div class="textForm">
                  <input name="nickname" type="text" class="nickname" placeholder="닉네임">
                </div>
                <div class="textForm">
                  <input name="cellphoneNo" type="number" class="cellphoneNo" placeholder="전화번호">
                </div>
                <input type="submit" class="btn" value="가입하기"/>
            </form>         

            
            
            <aside class="aside-right">
                <ul>    
                    <li><a href="#"><img src="/src/main/resources/static/img/kor/layout/quick01.gif" alt="Notice"></a></li>
                    <li><a href="#"><img src="/src/main/resources/static/img/kor/layout/quick02.gif" alt="NewsLetter"></a></li>
                    <li><a href="#"><img src="/src/main/resources/static/img/kor/layout/quick03.gif" alt="Facebook"></a></li>
                    <li><a href="#"><img src="/src/main/resources/static/img/kor/layout/quick04.gif" alt="Location"></a></li>
                </ul>
            </aside>
        </main>

        <footer>
            <p class="copyright">   
                <a href="#">    
                    <img src="/src/main/resources/static/img/kor/layout/copyright.gif" alt="Copyright">
                </a>    
            </p>

            <div class="foot-nav">  
                <a href="#"> 
                    <img src="/src/main/resources/static/img/kor/layout/btn_priv.gif" alt="개인정보처리방침">
                </a>
            </div>   
        </footer>
    </div>
</body>
</html>