<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/left_aside.css">
    <link rel="stylesheet" href="/static/css/right_aside.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="/static/css/index.css">

    <title>Document</title>
</head>
<body>
    <div class="wrap">
        <header>
            <h1 class="logo">
                <a href=""><img src="/static/img/logo/logo_posco_art.gif"></a>
                <img src="/static/img/logo/logo_posco_art_txt.gif">
            </h1>
            <div class="util-nav">
                <ul class="nav-list">
                    <li><a href=""><img src="/static/img/kor/layout/util_map.gif"></a></li>
                    <li><a href=""><img src="/static/img/kor/layout/util_en.gif"></a></li>
                    <li><a href=""><img src="/static/img/kor/layout/util_sitemap.gif"></a></li>
                </ul>
            </div>
        </header>
        <main class="container">
            <aside class="aside-left">

            </aside>

            <article class="main-article">
                <section class="txt-section">
                    <img src="/static/img/com/past_txt.gif">
                    <a href=""><img src="/static/img/kor/main/btn_pic.gif"></a>
                </section>
                <section>
                    <img src="/static/img/com/main_kr_noimg.jpg" alt="">
                </section>
                <section class="txt-section">
                    <img src="/static/img/com/collection_txt.gif">
                    <a href=""><img src="/static/img/kor/main/btn_pic.gif"></a>
                </section>
            </article>

            <aside class="aside-right">

            </aside>
        </main>
        <footer>

        </footer>
    </div>
</body>
</html>